<!doctype html>
<html class="no-js" lang="en" xmlns:fb="http://www.facebook.com/2008/fbml" xmlns:og="http://opengraphprotocol.org/schema/">
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
  <title>jQuery Vertical Example</title>
  <meta name="description" content="">
  <meta name="viewport" content="width=device-width">
  
  <!-- Include CSS for Timeline -->
  <link rel="stylesheet" href="css/style.css">
  
</head>
<body>

  <!-- Include container for timeline -->
  <h1>Vertical Timeline Example 1</h1>
  <div class="timeline-jquery-example-1">
  </div>
  
  <h1>Vertical Timeline Example 2</h1>
  <div class="timeline-jquery-example-2">
  </div>
  
  <h1>Vertical Timeline Example 3</h1>
  <div class="timeline-jquery-example-3">
  </div>
  
  <h1>Vertical Timeline Example 4</h1>
  <div class="timeline-jquery-example-4">
  </div>

  <!-- Include scripts -->
  <script type="text/javascript" src="js/libs.combined.min.js"></script>
  <script type="text/javascript" src="js/jquery-veritcal-timeline.min.js"></script>
  
  <script type="text/javascript">
    $(document).ready(function() {
      $('.timeline-jquery-example-1').verticalTimeline({
        key: '0AsmHVq28GtVJdG1fX3dsQlZrY18zTVA2ZG8wTXdtNHc',
        sheetName: 'Posts'
      });
      
      $('.timeline-jquery-example-2').verticalTimeline({
        key: 'https://docs.google.com/spreadsheet/pub?key=0AtX8MXQ89fOKdDZadGcyNE9CZmFZV29tQjI5RFU3X3c&output=html',
        sheetName: 'timeline-data',
        defaultDirection: 'oldest',
        defaultExpansion: 'collapsed',
        groupFunction: 'groupSegmentByDecade'
      });
      
      $.getJSON('./example.json', function(data) {
        $('.timeline-jquery-example-3').verticalTimeline({
          data: data,
          width: '75%'
        });
      });
      
      $('.timeline-jquery-example-4').verticalTimeline({
        key: '0AjYft7IGrHzNdHVTTi1xRGtpdHV5SzJDZW4yRnlRN2c',
        sheetName: 'Entries',
        tabletopOptions: {
          parameterize: 'http://gs-proxy.herokuapp.com/proxy?url='
        }
      });
    });
  </script>

</body>
</html>